{% load static %}
{% load bootstrap3 %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>
		<script type="text/javascript" src=" {% static 'js/jquery-1.11.3.min.js' %}"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>-->
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}"/>-->
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}"/>-->
		<!---->
		<!--<script type="text/javascript" src=" {% static 'js/bootstrap.min.js' %}"></script>-->
		<!--<script type="text/javascript" src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>-->
		<!--{% bootstrap_javascript %}-->
		<style type="text/css">
${demo.css}
		</style>

		<script src="{% static 'js/charts/highcharts.js' %}"></script>
		<script src="{% static 'js/charts/modules/drilldown.js' %}"></script>
	</head>
	<body>

{% bootstrap_messages %}

    <form class="form" action="{% url 'chart_view' %}" method="post">
        {% csrf_token %}
        <div class="form-group has-error">
            <label class="sr-only" for="id_start_date">Start date</label>
            <input name="start_date" title="This field is required." class="form-control" id="id_start_date" required="" type="date" placeholder="Start date">
        </div>

        <div class="form-group has-error">
            <label class="sr-only" for="id_end_date">End date</label>
            <input name="end_date" title="This field is required." class="form-control" id="id_end_date" required="" type="date" placeholder="End date">
        </div>
		{% buttons %}
			<button type="submit" class="btn btn-primary">
			  {% bootstrap_icon "star" %} Submit
			</button>
		  {% endbuttons %}
	</form>




<div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

		<script type="text/javascript">

// Create the chart
Highcharts.chart('container', {
    chart: {
        type: 'pie'
    },
    title: {
        text: 'Browser market shares. January, 2015 to May, 2015'
    },
    subtitle: {
        text: 'Click the slices to view versions. Source: netmarketshare.com.'
    },
    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '{point.name}: {point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [
        {% for c in expense_main_category %}
        {
            name: "{{ c.main_category__category_name }}",
            y: {{ c.check_sum }},
            drilldown: '{{ c.main_category__category_name }}'
        }{% if not forloop.last %},{% endif %}

        {% endfor %}
        ]
    }],
    drilldown: {
        series: [
        {% for c in expense_main_category %}

        {
            name: '{{ c.main_category__category_name }}',
            id: '{{ c.main_category__category_name }}',
            data: [
                {% for i in expense_main_sub_category %}
                    {% if c.main_category__category_name == i.main_category__category_name %}
                    ['{{ i.sub_category__category_name }}', {{i.check_sum}}] {% if not forloop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
            ]
        }{% if not forloop.last %},{% endif %}
        {% endfor %}]
    }
});
		</script>
	</body>
</html>
